<a href="https://colab.research.google.com/github/gulb15/data_analysis_training/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,442,212],name='xyz')
s1

0      1
1      2
2      3
3    442
4    212
Name: xyz, dtype: int64

In [26]:
s1 = pd.Series([100,201,302,403,504],index=[2001,2002,2003,2004,2005],name='xyz')
s1

2001    100
2002    201
2003    302
2004    403
2005    504
Name: xyz, dtype: int64

In [27]:
s1.loc[1:4]

Series([], Name: xyz, dtype: int64)

In [28]:
s1

2001    100
2002    201
2003    302
2004    403
2005    504
Name: xyz, dtype: int64

In [29]:
s1.sort_index(inplace=True)

In [30]:
s1

2001    100
2002    201
2003    302
2004    403
2005    504
Name: xyz, dtype: int64

In [31]:
s1.iloc[1:3]

2002    201
2003    302
Name: xyz, dtype: int64

In [32]:
s1>400

2001    False
2002    False
2003    False
2004     True
2005     True
Name: xyz, dtype: bool

In [33]:
s1[s1>506]

Series([], Name: xyz, dtype: int64)

In [34]:
#iter items
list(s1.iteritems())

[(2001, 100), (2002, 201), (2003, 302), (2004, 403), (2005, 504)]

In [37]:
for idx,val in s1.iteritems():
  print(idx,val)

2001 100
2002 201
2003 302
2004 403
2005 504

In [40]:
for idx,val in s1.iteritems():
  s1[idx]+=10

In [41]:
s1

2001    110
2002    211
2003    312
2004    413
2005    514
Name: xyz, dtype: int64

In [42]:
s1.keys()

Int64Index([2001, 2002, 2003, 2004, 2005], dtype='int64')

In [49]:
#slicing can be also done as passing a list of indexes
#s1.loc[2001,2003]

In [50]:
#operators
s1= pd.Series([1,2,3,4],index=[2001,2002,2003,2004])
s2=pd.Series([12,13,14,15,16],index=[2001,2004,2007,2008,2009])

In [51]:
s1+s2 #rest whose index is not there will become NaN

2001    13.0
2002     NaN
2003     NaN
2004    17.0
2007     NaN
2008     NaN
2009     NaN
dtype: float64

In [52]:
s1-s2

2001   -11.0
2002     NaN
2003     NaN
2004    -9.0
2007     NaN
2008     NaN
2009     NaN
dtype: float64

In [55]:
#Reset INdex

In [56]:
s1

2001    1
2002    2
2003    3
2004    4
dtype: int64

In [57]:
#we want to make dataframe using new index as well so we canuse reste index
#used to generate new dataframe or series
# useful when index needs to be treated as column
# or if index is meaningless we have to drop it
#
#
# Series.reset_index(self,level=None,drop=False,name=None,inplace=True)

s1.reset_index()

   index  0
0   2001  1
1   2002  2
2   2003  3
3   2004  4

In [58]:
type(s1.reset_index())

pandas.core.frame.DataFrame

In [60]:
s1 #remains unchanged

2001    1
2002    2
2003    3
2004    4
dtype: int64

In [66]:
# but if inplace = true then s1 also changes, reset to default index
s1.reset_index(drop=True,inplace=True)
s1

0    1
1    2
2    3
3    4
dtype: int64

In [68]:
#COUNTS
#return no ofnon null value

In [69]:
# .value_counts returns series indexed by valyes found in series

In [70]:
s1=pd.Series([12,2,3,4,5,3,2,None,54,3,3,323,42,None],name='xyz')
s1

0      12.0
1       2.0
2       3.0
3       4.0
4       5.0
5       3.0
6       2.0
7       NaN
8      54.0
9       3.0
10      3.0
11    323.0
12     42.0
13      NaN
Name: xyz, dtype: float64

In [71]:
s1.count()

12

In [73]:
s1.value_counts() #returns series where index is value

3.0      4
2.0      2
42.0     1
323.0    1
54.0     1
5.0      1
4.0      1
12.0     1
Name: xyz, dtype: int64

In [79]:
s1.unique() #returns all unique values including NaN

array([ 12.,   2.,   3.,   4.,   5.,  nan,  54., 323.,  42.])

In [80]:
#nunique gives count of non nan items
s1.nunique() #8 in this case leaving NaN

8

In [82]:
#DROP

s1.drop_duplicates() #returns series in which all duplicates are removed and first occurence is kept all other dropped

0      12.0
1       2.0
2       3.0
3       4.0
4       5.0
7       NaN
8      54.0
11    323.0
12     42.0
Name: xyz, dtype: float64

In [83]:
# if we pass ley as last then last occurence can be kept
s1.drop_duplicates(keep='last')

0      12.0
3       4.0
4       5.0
6       2.0
8      54.0
10      3.0
11    323.0
12     42.0
13      NaN
Name: xyz, dtype: float64

In [86]:
s1.dropna() #drop all nan values

0      12.0
1       2.0
2       3.0
3       4.0
4       5.0
5       3.0
6       2.0
8      54.0
9       3.0
10      3.0
11    323.0
12     42.0
Name: xyz, dtype: float64

In [94]:
s1=pd.Series([1,2,3,4,5],index=[201,202,201,203,203])
s1

201    1
202    2
201    3
203    4
203    5
dtype: int64

In [98]:
s1.groupby(s1.index).mean() #groups index and calculates mean

201    2.0
202    2.0
203    4.5
dtype: float64

In [99]:
s1.groupby(s1.index).count()

201    2
202    1
203    2
dtype: int64

In [102]:
gender = pd.Series([12,13,14,1,5,16,17,18,19,20],['M','F','F','M','M','F','F','O','M','O'], name='gender')
gender

M    12
F    13
F    14
M     1
M     5
F    16
F    17
O    18
M    19
O    20
Name: gender, dtype: int64

In [106]:
gender.groupby(gender.index).count()

F    4
M    4
O    2
Name: gender, dtype: int64

In [107]:
gender.groupby(gender.index).mean()

F    15.00
M     9.25
O    19.00
Name: gender, dtype: float64

In [108]:
gender

M    12
F    13
F    14
M     1
M     5
F    16
F    17
O    18
M    19
O    20
Name: gender, dtype: int64

In [109]:
gender.max()

20

In [110]:
gender.median()

15.0